# Data
data/raw/
data/interim/
data/processed/
reports/
!reports/
reports/*
!reports/*.tex
data/
# Models
models/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Files
*.csv
*.parquet
.env
# Virtual env
.venv/
.DS_Store


